.logo__text {
  font-family: 'PT Serif', sans-serif;
  font-weight: bold;
}
.menu__item {
  font-family: 'Roboto', sans-serif;
  color: black;
  font-weight: bold;
  text-decoration: none;
}
.main-conten__title {
  font-family: 'PT Serif', sans-serif;
}
.main-content__subtitle {
  font-family: 'Roboto', sans-serif;
}
.main-content__button {
  font-family: 'Roboto', sans-serif;
  color: white;
  background-color: #0056EC;
}
